:root{
  --dark:#001427;
  --jasmine:#F4D58D;
  --green:#708D81;
  --orange:#BF0603;
  --red:#8D0801;
}

body{
  background: var(--dark);
  color:var(--jasmine);
}

.main-controls {
  padding-bottom: 0.7rem;
  height: 170px;
}

.sound-clips {
  box-shadow: inset 0 3px 4px rgb(0 0 0 / 70%);
  background-color: rgb(0 0 0 / 10%);
  height: calc(100% - 240px - 0.7rem);
  overflow: scroll;
}